Link {
    display: block;
    margin-bottom: 0.5rem;
    color: #0056b3;
    text-decoration: none;
    text-decoration-color: #0056b380;
    transition: color 0.15s ease-in-out, text-decoration-color 0.15s ease-in-out;
}

Link:hover,
Link:focus {
    color: #00234f;
}
